<a href="https://colab.research.google.com/github/Kgs-Mathaba/Apache_Spark/blob/main/Corona_Virus_EDA_with_Apache_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

In [2]:
!ls /usr/lib/jvm/

default-java		   java-11-openjdk-amd64     java-8-openjdk-amd64
java-1.11.0-openjdk-amd64  java-1.8.0-openjdk-amd64

In [3]:
!pip install -U pyarrow

Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (3.0.0)
Collecting pyarrow
  Downloading pyarrow-5.0.0-cp37-cp37m-manylinux2014_x86_64.whl (23.6 MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 23.6 MB 120 kB/s
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.19.5)
Installing collected packages: pyarrow
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 3.0.0
    Uninstalling pyarrow-3.0.0:
      Successfully uninstalled pyarrow-3.0.0
Successfully installed pyarrow-5.0.0

In [4]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

In [5]:
import findspark
findspark.init() # search for spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [10]:
import sys, tempfile

In [11]:
import urllib.request as urllib

In [7]:
BASE_DIR = '/tmp'
CORONA_DATA_FILE = os.path.join(BASE_DIR, 'corona_data.csv')

In [12]:
corona_data = urllib.urlretrieve('https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/coronavirus/corona_dataset_latest.csv', CORONA_DATA_FILE)

In [14]:
BASE_DIR = '/tmp'
TWITTER_DATA_FILE = os.path.join(BASE_DIR, 'twitter_data.csv')

In [15]:
tweet_data = urllib.urlretrieve('https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/coronavirus/tweets.csv', TWITTER_DATA_FILE)

In [16]:
!ls /tmp

blockmgr-9dc3ddcc-2b34-4d90-8012-52a3eb5a6800
corona_data.csv
dap_multiplexer.21954c7a4cee.root.log.INFO.20211017-141840.57
dap_multiplexer.INFO
debugger_21ufkzngy6
hsperfdata_root
initgoogle_syslog_dir.0
spark-02a69ef2-2ae9-40c3-ba16-c2725d50541b
spark-c96b0728-fdd3-40f1-9682-b02b32142a4d
twitter_data.csv

In [17]:
corona_df = spark.read.option("inferSchema", "true").csv("/tmp/corona_data.csv", header=True)

In [20]:
corona_df.show()

+---+----------------+--------------------+--------+---------+-------------------+---------+-----+---------+--------------------+----+
|_c0|           State|             Country|     Lat|     Long|               Date|Confirmed|Death|Recovered|       state_cleaned|City|
+---+----------------+--------------------+--------+---------+-------------------+---------+-----+---------+--------------------+----+
|  0|            null|            Thailand|    15.0|    101.0|2020-01-22 00:00:00|        2|    0|        0|             Bangkok|null|
|  1|            null|               Japan|    36.0|    138.0|2020-01-22 00:00:00|        2|    0|        0|             Hiraide|null|
|  2|            null|           Singapore|  1.2833| 103.8333|2020-01-22 00:00:00|        0|    0|        0|           Singapore|null|
|  3|            null|               Nepal| 28.1667|    84.25|2020-01-22 00:00:00|        0|    0|        0|           Kathmandu|null|
|  4|            null|            Malaysia|     2.5|    112.5|2020-01-22 00:00:00|        0|    0|        0|             Sarawak|null|
|  5|British Columbia|              Canada| 49.2827|-123.1207|2020-01-22 00:00:00|        0|    0|        0|    British Columbia|null|
|  6| New South Wales|           Australia|-33.8688| 151.2093|2020-01-22 00:00:00|        0|    0|        0|     New South Wales|null|
|  7|        Victoria|           Australia|-37.8136| 144.9631|2020-01-22 00:00:00|        0|    0|        0|            Victoria|null|
|  8|      Queensland|           Australia|-28.0167|    153.4|2020-01-22 00:00:00|        0|    0|        0|          Queensland|null|
|  9|            null|            Cambodia|   11.55| 104.9167|2020-01-22 00:00:00|        0|    0|        0|          Phnom Penh|null|
| 10|            null|           Sri Lanka|     7.0|     81.0|2020-01-22 00:00:00|        0|    0|        0|Sri Jayawardenapu...|null|
| 11|            null|             Germany|    51.0|      9.0|2020-01-22 00:00:00|        0|    0|        0|              Berlin|null|
| 12|            null|             Finland|    64.0|     26.0|2020-01-22 00:00:00|        0|    0|        0|            Helsinki|null|
| 13|            null|United Arab Emirates|    24.0|     54.0|2020-01-22 00:00:00|        0|    0|        0|           Abu Dhabi|null|
| 14|            null|         Philippines|    13.0|    122.0|2020-01-22 00:00:00|        0|    0|        0|              Manila|null|
| 15|            null|               India|    21.0|     78.0|2020-01-22 00:00:00|        0|    0|        0|           New Delhi|null|
| 16|            null|               Italy|    43.0|     12.0|2020-01-22 00:00:00|        0|    0|        0|                Rome|null|
| 17|            null|              Sweden|    63.0|     16.0|2020-01-22 00:00:00|        0|    0|        0|           Stockholm|null|
| 18|            null|               Spain|    40.0|     -4.0|2020-01-22 00:00:00|        0|    0|        0|              Toledo|null|
| 19| South Australia|           Australia|-34.9285| 138.6007|2020-01-22 00:00:00|        0|    0|        0|     South Australia|null|
+---+----------------+--------------------+--------+---------+-------------------+---------+-----+---------+--------------------+----+
only showing top 20 rows

In [21]:
corona_df.count()

28143

In [23]:
twitter_df = spark.read.option("inferSchema", "true").csv("/tmp/twitter_data.csv", header=True)

In [35]:
twitter_df.show()

+---+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|_c0| geo|                text|                user|            location|            entities|           sentiment|             country|
+---+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|  0|null|What is God sayin...|          petodinice|               Lagos|[('about #', 'CAR...|{'neg': 0.0, 'neu...|             Nigeria|
|  1|null|"BREAKING: ""this...| but i took the t...|                -‚Ä¶ "|     JerryfranksonJF|      Abuja, Nigeria|"[(""Arsenal's Mi...|
|  2|null| #Coronavirus tes...|              cek422|   Pennsylvania, USA|                  []|{'neg': 0.173, 'n...|                 USA|
|  3|null| Get ready for ma...|        InfectiousDz|                 NYC|[('World', 'ORG')...|{'neg': 0.085, 'n...|                 USA|
|  4|null| The #coronavirus...|          vic_gibson|                null|                ['']|{'neg': 0.0, 'neu...|                null|
|  5|null| COVID-19 update ...|      StewartNgilana|Durban | Port Eli...|[('Italy', 'GPE')...|{'neg': 0.178, 'n...|                 USA|
|  6|null| It‚Äôs painful to ...|           BWheatnyc|             Florida|                  []|{'neg': 0.098, 'n...|                 USA|
|  7|null| üìΩÔ∏èFriends, I wi...|             LorseaR|New South Wales, ...|[('Twitter', 'GPE...|{'neg': 0.123, 'n...|           Australia|
|  8|null| Questions about ...|         straightj23|        Columbus, OH|[('NAfME', 'CARDI...|{'neg': 0.0, 'neu...|                 USA|
|  9|null|How they‚Äôre deali...|       _______coolio| South East, England|['', ('Portsmouth...|{'neg': 0.126, 'n...|                  UK|
| 10|null| BREAKING: Democr...|      champagneaylin|                null|[('Democrats', 'N...|{'neg': 0.221, 'n...|                null|
| 11|null| ‚ÄúIf we close dow...|       YorkLawLondon|                  UK|                  []|{'neg': 0.0, 'neu...|      United Kingdom|
| 12|null| I pity the poor ...|      BeesonMargaret|                null|                ['']|{'neg': 0.227, 'n...|                null|
| 13|null| We‚Äôre the heck w...|      harrytiffanyiv| Fort Washington, PA|[('the last 6 wee...|{'neg': 0.0, 'neu...|                 USA|
| 14|null| I don't think sh...|         grammyheath|                null|[('Joy', 'PERSON'...|{'neg': 0.0, 'neu...|                null|
| 15|null| Well written, so...|      barbara_ellena|Christchurch City...|                  []|{'neg': 0.0, 'neu...|         New Zealand|
| 16|null| 1/2 CDC Director...|               fatal|                 USA|[('1/2', 'CARDINA...|{'neg': 0.139, 'n...|       United States|
| 17|null| In all seriousne...|          pwjkmiller|                null|                ['']|{'neg': 0.218, 'n...|                null|
| 18|null| Wash your hands....|        Mrrandy123RP|          Texas, USA|            ['', '']|{'neg': 0.0, 'neu...|                 USA|
| 19|null| #CoronaVirusCana...|           aliensky0|           Worldwide|['', ('CoronaViru...|{'neg': 0.0, 'neu...|                 USA|
+---+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [36]:
twitter_df.count()

1000

In [37]:
twitter_df.filter("country='USA'")

DataFrame[_c0: int, geo: string, text: string, user: string, location: string, entities: string, sentiment: string, country: string]

In [38]:
twitter_df.filter("country='USA'").show()

+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
|_c0| geo|                text|           user|            location|            entities|           sentiment|country|
+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
|  2|null| #Coronavirus tes...|         cek422|   Pennsylvania, USA|                  []|{'neg': 0.173, 'n...|    USA|
|  3|null| Get ready for ma...|   InfectiousDz|                 NYC|[('World', 'ORG')...|{'neg': 0.085, 'n...|    USA|
|  5|null| COVID-19 update ...| StewartNgilana|Durban | Port Eli...|[('Italy', 'GPE')...|{'neg': 0.178, 'n...|    USA|
|  6|null| It‚Äôs painful to ...|      BWheatnyc|             Florida|                  []|{'neg': 0.098, 'n...|    USA|
|  8|null| Questions about ...|    straightj23|        Columbus, OH|[('NAfME', 'CARDI...|{'neg': 0.0, 'neu...|    USA|
| 13|null| We‚Äôre the heck w...| harrytiffanyiv| Fort Washington, PA|[('the last 6 wee...|{'neg': 0.0, 'neu...|    USA|
| 18|null| Wash your hands....|   Mrrandy123RP|          Texas, USA|            ['', '']|{'neg': 0.0, 'neu...|    USA|
| 19|null| #CoronaVirusCana...|      aliensky0|           Worldwide|['', ('CoronaViru...|{'neg': 0.0, 'neu...|    USA|
| 24|null| Dr. Dena Grayson...|billymocolorad2|         Denver area|[('Dena Grayson',...|{'neg': 0.0, 'neu...|    USA|
| 29|null| #BREAKING Univer...|  _pulido_nenaa|         Fontana, CA|['', ('BREAKING U...|{'neg': 0.0, 'neu...|    USA|
| 31|null| I ordered Alex J...|       rcgillan|       New York, USA|[('Alex Jones', '...|{'neg': 0.109, 'n...|    USA|
| 32|null| #CoronavirusExpe...|        AD1968F|California / Florida|['', ('Coronaviru...|{'neg': 0.0, 'neu...|    USA|
| 34|null| There is no obje...|       SFAuGrrl|   San Francisco, CA|['', ('FamiliesFi...|{'neg': 0.224, 'n...|    USA|
| 36|null| Before #coronavi...|   Frankapistan|       Nashville, TN|[('China', 'GPE')...|{'neg': 0.144, 'n...|    USA|
| 40|null|  When it's actua...|      Happyjam5|     Los Angeles, Ca|[('GOP', 'ORG'), ...|{'neg': 0.215, 'n...|    USA|
| 41|null|#Coronavirus in #...|   GregoryGLake|              Global|['', ('5', 'CARDI...|{'neg': 0.318, 'n...|    USA|
| 49|null| This week we are...|  JamesWithers3|  New York, New York|[('This week', 'D...|{'neg': 0.0, 'neu...|    USA|
| 50|null| Trump is now doi...|      NewNewsey|          everywhere|[('Trump', 'ORG')...|{'neg': 0.0, 'neu...|    USA|
| 55|null| The last patient...|   Khattarperla|          Highgarden|  [('Wuhan', 'GPE')]|{'neg': 0.0, 'neu...|    USA|
| 56|null|...Hope y‚Äôall sta...|  Brandon4Brody|          Pueblo, CO|[('CDC', 'ORG'), ...|{'neg': 0.0, 'neu...|    USA|
+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
only showing top 20 rows

In [39]:
twitter_df.filter("country='USA' and location like '%New%'").show()

+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
|_c0| geo|                text|           user|            location|            entities|           sentiment|country|
+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
| 31|null| I ordered Alex J...|       rcgillan|       New York, USA|[('Alex Jones', '...|{'neg': 0.109, 'n...|    USA|
| 49|null| This week we are...|  JamesWithers3|  New York, New York|[('This week', 'D...|{'neg': 0.0, 'neu...|    USA|
| 62|null|Fear will kill #C...| RobertPPurcell|norther New Jerse...|                ['']|{'neg': 0.798, 'n...|    USA|
|228|null|This is a very co...|baskingntheGlow|       New York City|[('hourly', 'TIME')]|{'neg': 0.12, 'ne...|    USA|
|238|null|I‚Äôm reposting thi...|   Veronicaromm|     New Jersey, USA|[('English', 'LAN...|{'neg': 0.0, 'neu...|    USA|
|261|null|Too early ...?  #...|      HJeppesen|        New York, NY|                ['']|{'neg': 0.0, 'neu...|    USA|
|275|null|  The Republican ...|  GenetBataiile|  New Hampshire, USA|[('Republican', '...|{'neg': 0.0, 'neu...|    USA|
|369|null| I still look to ...|   SusanSeaside|         New England|[('SouthKorea', '...|{'neg': 0.0, 'neu...|    USA|
|438|null|Can we call the #...|       nilchaks|     New Jersey, USA|                ['']|{'neg': 0.194, 'n...|    USA|
|458|null| New deadly #coro...| ssummersabrina|     New Jersey, USA|                ['']|{'neg': 0.236, 'n...|    USA|
|471|null|What the Caged Bi...|    AaronNetsky|        New York, NY|                  []|{'neg': 0.0, 'neu...|    USA|
|553|null|Me: Tired of hear...|     AmandaB_B8|  New Hampshire, USA|['', ('tonight', ...|{'neg': 0.252, 'n...|    USA|
|611|null| Apparently the #...|  BuffaloInABox|   Buffalo, New York|['', ('CoronaViru...|{'neg': 0.171, 'n...|    USA|
|612|null| New deadly #coro...|       klazimi1|       New York, USA|                ['']|{'neg': 0.236, 'n...|    USA|
|622|null|Can someone pleas...|         pitaru|            New York|                ['']|{'neg': 0.168, 'n...|    USA|
|624|null| Trump is now doi...| swirlysunburst|Northwest, New Je...|[('Trump', 'ORG')...|{'neg': 0.0, 'neu...|    USA|
|664|null|Marriage in 2020 ...|           sciz|        New York, NY|[('2020', 'DATE')...|{'neg': 0.111, 'n...|    USA|
|679|null|ALL MY MONEY ON E...|  misterauyeung|        New York, NY|[('ETF', 'ORG'), '']|{'neg': 0.148, 'n...|    USA|
|724|null|#UniversalStudios...| cosmicbooknews|       New York, USA|['', ('UniversalS...|{'neg': 0.0, 'neu...|    USA|
|850|null| There is no obje...|         rm1268|       New York, USA|['', ('FamiliesFi...|{'neg': 0.224, 'n...|    USA|
+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
only showing top 20 rows

In [40]:
tw_filter_df = twitter_df.filter("country='USA'")

In [41]:
tw_filter_df.explain() # explains transformation

== Physical Plan ==
*(1) Project [_c0#114, geo#115, text#116, user#117, location#118, entities#119, sentiment#120, country#121]
+- *(1) Filter (isnotnull(country#121) && (country#121 = USA))
   +- *(1) FileScan csv [_c0#114,geo#115,text#116,user#117,location#118,entities#119,sentiment#120,country#121] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/tmp/twitter_data.csv], PartitionFilters: [], PushedFilters: [IsNotNull(country), EqualTo(country,USA)], ReadSchema: struct<_c0:int,geo:string,text:string,user:string,location:string,entities:string,sentiment:strin...

In [44]:
tw_filter_df2 = twitter_df.filter("country='USA' and location like '%New%'")

In [45]:
tw_filter_df2.explain()

== Physical Plan ==
*(1) Project [_c0#114, geo#115, text#116, user#117, location#118, entities#119, sentiment#120, country#121]
+- *(1) Filter (((isnotnull(country#121) && isnotnull(location#118)) && (country#121 = USA)) && Contains(location#118, New))
   +- *(1) FileScan csv [_c0#114,geo#115,text#116,user#117,location#118,entities#119,sentiment#120,country#121] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/tmp/twitter_data.csv], PartitionFilters: [], PushedFilters: [IsNotNull(country), IsNotNull(location), EqualTo(country,USA), StringContains(location,New)], ReadSchema: struct<_c0:int,geo:string,text:string,user:string,location:string,entities:string,sentiment:strin...

In [46]:
tw_filter_df2.show(5)

+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
|_c0| geo|                text|           user|            location|            entities|           sentiment|country|
+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
| 31|null| I ordered Alex J...|       rcgillan|       New York, USA|[('Alex Jones', '...|{'neg': 0.109, 'n...|    USA|
| 49|null| This week we are...|  JamesWithers3|  New York, New York|[('This week', 'D...|{'neg': 0.0, 'neu...|    USA|
| 62|null|Fear will kill #C...| RobertPPurcell|norther New Jerse...|                ['']|{'neg': 0.798, 'n...|    USA|
|228|null|This is a very co...|baskingntheGlow|       New York City|[('hourly', 'TIME')]|{'neg': 0.12, 'ne...|    USA|
|238|null|I‚Äôm reposting thi...|   Veronicaromm|     New Jersey, USA|[('English', 'LAN...|{'neg': 0.0, 'neu...|    USA|
+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
only showing top 5 rows

In [50]:
from pyspark.sql.functions import col
tw_filter_df = twitter_df.filter(col("location").startswith("N"))

In [51]:
tw_filter_df.explain()

== Physical Plan ==
*(1) Project [_c0#114, geo#115, text#116, user#117, location#118, entities#119, sentiment#120, country#121]
+- *(1) Filter (isnotnull(location#118) && StartsWith(location#118, N))
   +- *(1) FileScan csv [_c0#114,geo#115,text#116,user#117,location#118,entities#119,sentiment#120,country#121] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/tmp/twitter_data.csv], PartitionFilters: [], PushedFilters: [IsNotNull(location), StringStartsWith(location,N)], ReadSchema: struct<_c0:int,geo:string,text:string,user:string,location:string,entities:string,sentiment:strin...

In [52]:
twitter_df.first()

Row(_c0=0, geo=None, text='What is God saying to us about #coronavirus ?', user='petodinice', location='Lagos', entities="[('about #', 'CARDINAL')]", sentiment="{'neg': 0.0, 'neu': 0.769, 'pos': 0.231, 'compound': 0.2732}", country='Nigeria')

In [54]:
twitter_df.take(5)

[Row(_c0=0, geo=None, text='What is God saying to us about #coronavirus ?', user='petodinice', location='Lagos', entities="[('about #', 'CARDINAL')]", sentiment="{'neg': 0.0, 'neu': 0.769, 'pos': 0.231, 'compound': 0.2732}", country='Nigeria'),
 Row(_c0=1, geo=None, text='"BREAKING: ""this is disappointing', user=' but i took the test"". Arsenal\'s Mikel Arteta tests positive for #coronavirus', location='  -‚Ä¶ "', entities='JerryfranksonJF', sentiment='Abuja, Nigeria', country='"[(""Arsenal\'s Mikel Arteta""'),
 Row(_c0=2, geo=None, text=' #Coronavirus testing must be made free to the public if we are going to understand the scope of this crisis. Anything le‚Ä¶', user='cek422', location='Pennsylvania, USA', entities='[]', sentiment="{'neg': 0.173, 'neu': 0.71, 'pos': 0.117, 'compound': -0.3767}", country='USA'),
 Row(_c0=3, geo=None, text=' Get ready for mass event crowd cancellations across the World starting this weekend: cricket in #Australia in empty st‚Ä¶', user='InfectiousDz', location='NYC', entities="[('World', 'ORG'), ('this weekend', 'DATE'), '']", sentiment="{'neg': 0.085, 'neu': 0.798, 'pos': 0.117, 'compound': 0.1779}", country='USA'),
 Row(_c0=4, geo=None, text=' The #coronavirus pandemic is revealing just how closely we are all bound together...[A thread] ', user='vic_gibson', location=None, entities="['']", sentiment="{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}", country=None)]

In [56]:
 x = spark.sparkContext.parallelize([1,4,8])
 y = x.flatMap(lambda x: (x, x*x))
 print(x.collect())
 print(y.collect())

[1, 4, 8]
[1, 1, 4, 16, 8, 64]

In [57]:
 x = spark.sparkContext.parallelize([1,4,8])
 y = x.map(lambda x: (x, x*x))
 print(x.collect())
 print(y.collect())

[1, 4, 8]
[(1, 1), (4, 16), (8, 64)]

In [58]:
x

ParallelCollectionRDD[98] at parallelize at PythonRDD.scala:195

In [59]:
twitter_df.select("text").show()

+--------------------+
|                text|
+--------------------+
|What is God sayin...|
|"BREAKING: ""this...|
| #Coronavirus tes...|
| Get ready for ma...|
| The #coronavirus...|
| COVID-19 update ...|
| It‚Äôs painful to ...|
| üìΩÔ∏èFriends, I wi...|
| Questions about ...|
|How they‚Äôre deali...|
| BREAKING: Democr...|
| ‚ÄúIf we close dow...|
| I pity the poor ...|
| We‚Äôre the heck w...|
| I don't think sh...|
| Well written, so...|
| 1/2 CDC Director...|
| In all seriousne...|
| Wash your hands....|
| #CoronaVirusCana...|
+--------------------+
only showing top 20 rows

In [60]:
twitter_df.select("text", "user").show()

+--------------------+--------------------+
|                text|                user|
+--------------------+--------------------+
|What is God sayin...|          petodinice|
|"BREAKING: ""this...| but i took the t...|
| #Coronavirus tes...|              cek422|
| Get ready for ma...|        InfectiousDz|
| The #coronavirus...|          vic_gibson|
| COVID-19 update ...|      StewartNgilana|
| It‚Äôs painful to ...|           BWheatnyc|
| üìΩÔ∏èFriends, I wi...|             LorseaR|
| Questions about ...|         straightj23|
|How they‚Äôre deali...|       _______coolio|
| BREAKING: Democr...|      champagneaylin|
| ‚ÄúIf we close dow...|       YorkLawLondon|
| I pity the poor ...|      BeesonMargaret|
| We‚Äôre the heck w...|      harrytiffanyiv|
| I don't think sh...|         grammyheath|
| Well written, so...|      barbara_ellena|
| 1/2 CDC Director...|               fatal|
| In all seriousne...|          pwjkmiller|
| Wash your hands....|        Mrrandy123RP|
| #CoronaVirusCana...|           aliensky0|
+--------------------+--------------------+
only showing top 20 rows

In [62]:
twitter_df.rdd.map(lambda line: line.text.split(" ")).take(5) # similar to tokenizing

[['What', 'is', 'God', 'saying', 'to', 'us', 'about', '#coronavirus', '?'],
 ['"BREAKING:', '""this', 'is', 'disappointing'],
 ['',
  '#Coronavirus',
  'testing',
  'must',
  'be',
  'made',
  'free',
  'to',
  'the',
  'public',
  'if',
  'we',
  'are',
  'going',
  'to',
  'understand',
  'the',
  'scope',
  'of',
  'this',
  'crisis.',
  'Anything',
  'le‚Ä¶'],
 ['',
  'Get',
  'ready',
  'for',
  'mass',
  'event',
  'crowd',
  'cancellations',
  'across',
  'the',
  'World',
  'starting',
  'this',
  'weekend:',
  'cricket',
  'in',
  '#Australia',
  'in',
  'empty',
  'st‚Ä¶'],
 ['',
  'The',
  '#coronavirus',
  'pandemic',
  'is',
  'revealing',
  'just',
  'how',
  'closely',
  'we',
  'are',
  'all',
  'bound',
  'together...[A',
  'thread]',
  '']]

In [65]:
twitter_df.rdd.flatMap(lambda line: line.text.split(" ")).take(100)

['What',
 'is',
 'God',
 'saying',
 'to',
 'us',
 'about',
 '#coronavirus',
 '?',
 '"BREAKING:',
 '""this',
 'is',
 'disappointing',
 '',
 '#Coronavirus',
 'testing',
 'must',
 'be',
 'made',
 'free',
 'to',
 'the',
 'public',
 'if',
 'we',
 'are',
 'going',
 'to',
 'understand',
 'the',
 'scope',
 'of',
 'this',
 'crisis.',
 'Anything',
 'le‚Ä¶',
 '',
 'Get',
 'ready',
 'for',
 'mass',
 'event',
 'crowd',
 'cancellations',
 'across',
 'the',
 'World',
 'starting',
 'this',
 'weekend:',
 'cricket',
 'in',
 '#Australia',
 'in',
 'empty',
 'st‚Ä¶',
 '',
 'The',
 '#coronavirus',
 'pandemic',
 'is',
 'revealing',
 'just',
 'how',
 'closely',
 'we',
 'are',
 'all',
 'bound',
 'together...[A',
 'thread]',
 '',
 '',
 'COVID-19',
 'update',
 'as',
 'of',
 'this',
 'morning:1.',
 'Death',
 'toll',
 'in',
 'Italy',
 'passes',
 '1,0002.',
 "Arsenal's",
 'head',
 'coach',
 'Arteta',
 'tests',
 'positive3.',
 'US‚Ä¶',
 '',
 'It‚Äôs',
 'painful',
 'to',
 'say,',
 'but',
 'as',
 'an']

In [66]:
corona_df.show()

+---+----------------+--------------------+--------+---------+-------------------+---------+-----+---------+--------------------+----+
|_c0|           State|             Country|     Lat|     Long|               Date|Confirmed|Death|Recovered|       state_cleaned|City|
+---+----------------+--------------------+--------+---------+-------------------+---------+-----+---------+--------------------+----+
|  0|            null|            Thailand|    15.0|    101.0|2020-01-22 00:00:00|        2|    0|        0|             Bangkok|null|
|  1|            null|               Japan|    36.0|    138.0|2020-01-22 00:00:00|        2|    0|        0|             Hiraide|null|
|  2|            null|           Singapore|  1.2833| 103.8333|2020-01-22 00:00:00|        0|    0|        0|           Singapore|null|
|  3|            null|               Nepal| 28.1667|    84.25|2020-01-22 00:00:00|        0|    0|        0|           Kathmandu|null|
|  4|            null|            Malaysia|     2.5|    112.5|2020-01-22 00:00:00|        0|    0|        0|             Sarawak|null|
|  5|British Columbia|              Canada| 49.2827|-123.1207|2020-01-22 00:00:00|        0|    0|        0|    British Columbia|null|
|  6| New South Wales|           Australia|-33.8688| 151.2093|2020-01-22 00:00:00|        0|    0|        0|     New South Wales|null|
|  7|        Victoria|           Australia|-37.8136| 144.9631|2020-01-22 00:00:00|        0|    0|        0|            Victoria|null|
|  8|      Queensland|           Australia|-28.0167|    153.4|2020-01-22 00:00:00|        0|    0|        0|          Queensland|null|
|  9|            null|            Cambodia|   11.55| 104.9167|2020-01-22 00:00:00|        0|    0|        0|          Phnom Penh|null|
| 10|            null|           Sri Lanka|     7.0|     81.0|2020-01-22 00:00:00|        0|    0|        0|Sri Jayawardenapu...|null|
| 11|            null|             Germany|    51.0|      9.0|2020-01-22 00:00:00|        0|    0|        0|              Berlin|null|
| 12|            null|             Finland|    64.0|     26.0|2020-01-22 00:00:00|        0|    0|        0|            Helsinki|null|
| 13|            null|United Arab Emirates|    24.0|     54.0|2020-01-22 00:00:00|        0|    0|        0|           Abu Dhabi|null|
| 14|            null|         Philippines|    13.0|    122.0|2020-01-22 00:00:00|        0|    0|        0|              Manila|null|
| 15|            null|               India|    21.0|     78.0|2020-01-22 00:00:00|        0|    0|        0|           New Delhi|null|
| 16|            null|               Italy|    43.0|     12.0|2020-01-22 00:00:00|        0|    0|        0|                Rome|null|
| 17|            null|              Sweden|    63.0|     16.0|2020-01-22 00:00:00|        0|    0|        0|           Stockholm|null|
| 18|            null|               Spain|    40.0|     -4.0|2020-01-22 00:00:00|        0|    0|        0|              Toledo|null|
| 19| South Australia|           Australia|-34.9285| 138.6007|2020-01-22 00:00:00|        0|    0|        0|     South Australia|null|
+---+----------------+--------------------+--------+---------+-------------------+---------+-----+---------+--------------------+----+
only showing top 20 rows

In [68]:
corona_df.filter("Country='US'").show()

+---+----------------+-------+------------------+---------+-------------------+---------+-----+---------+----------------+----------------+
|_c0|           State|Country|               Lat|     Long|               Date|Confirmed|Death|Recovered|   state_cleaned|            City|
+---+----------------+-------+------------------+---------+-------------------+---------+-----+---------+----------------+----------------+
| 98|      Washington|     US|           47.4009|-121.4905|2020-01-22 00:00:00|        0|    0|        0|      Washington|      Washington|
| 99|        New York|     US|           42.1657| -74.9481|2020-01-22 00:00:00|        0|    0|        0|        New York|        New York|
|100|      California|     US|           36.1162|-119.6816|2020-01-22 00:00:00|        0|    0|        0|      California|      California|
|101|   Massachusetts|     US|           42.2302| -71.5301|2020-01-22 00:00:00|        0|    0|        0|   Massachusetts|   Massachusetts|
|102|Diamond Princess|     US|           35.4437|  139.638|2020-01-22 00:00:00|        0|    0|        0|Diamond Princess|Diamond Princess|
|103|  Grand Princess|     US|           37.6489|-122.6655|2020-01-22 00:00:00|        0|    0|        0|  Grand Princess|  Grand Princess|
|104|         Georgia|     US|           33.0406| -83.6431|2020-01-22 00:00:00|        0|    0|        0|         Georgia|         Georgia|
|105|        Colorado|     US|           39.0598|-105.3111|2020-01-22 00:00:00|        0|    0|        0|        Colorado|        Colorado|
|106|         Florida|     US|           27.7663| -81.6868|2020-01-22 00:00:00|        0|    0|        0|         Florida|         Florida|
|107|      New Jersey|     US|           40.2989|  -74.521|2020-01-22 00:00:00|        0|    0|        0|      New Jersey|      New Jersey|
|108|          Oregon|     US|44.571999999999996|-122.0709|2020-01-22 00:00:00|        0|    0|        0|          Oregon|          Oregon|
|109|           Texas|     US|           31.0545| -97.5635|2020-01-22 00:00:00|        0|    0|        0|           Texas|           Texas|
|110|        Illinois|     US|           40.3495| -88.9861|2020-01-22 00:00:00|        0|    0|        0|        Illinois|        Illinois|
|111|    Pennsylvania|     US|           40.5908| -77.2098|2020-01-22 00:00:00|        0|    0|        0|    Pennsylvania|    Pennsylvania|
|112|            Iowa|     US|           42.0115| -93.2105|2020-01-22 00:00:00|        0|    0|        0|            Iowa|            Iowa|
|113|        Maryland|     US|           39.0639| -76.8021|2020-01-22 00:00:00|        0|    0|        0|        Maryland|        Maryland|
|114|  North Carolina|     US|           35.6301| -79.8064|2020-01-22 00:00:00|        0|    0|        0|  North Carolina|  North Carolina|
|115|  South Carolina|     US|           33.8569|  -80.945|2020-01-22 00:00:00|        0|    0|        0|  South Carolina|  South Carolina|
|116|       Tennessee|     US|           35.7478| -86.6923|2020-01-22 00:00:00|        0|    0|        0|       Tennessee|       Tennessee|
|117|        Virginia|     US|           37.7693|   -78.17|2020-01-22 00:00:00|        0|    0|        0|        Virginia|        Virginia|
+---+----------------+-------+------------------+---------+-------------------+---------+-----+---------+----------------+----------------+
only showing top 20 rows

In [69]:
corona_df.filter("Country='US'").sort(col("Date"), ascending=False).show()

+-----+----------------+-------+------------------+---------+-------------------+---------+-----+---------+----------------+----------------+
|  _c0|           State|Country|               Lat|     Long|               Date|Confirmed|Death|Recovered|   state_cleaned|            City|
+-----+----------------+-------+------------------+---------+-------------------+---------+-----+---------+----------------+----------------+
|27764|      Washington|     US|           47.4009|-121.4905|2020-03-20 00:00:00|     1524|   83|        0|      Washington|      Washington|
|27784|         Arizona|     US|           33.7298|-111.4312|2020-03-20 00:00:00|       78|    0|        0|         Arizona|         Arizona|
|27765|        New York|     US|           42.1657| -74.9481|2020-03-20 00:00:00|     8310|   42|        0|        New York|        New York|
|27766|      California|     US|           36.1162|-119.6816|2020-03-20 00:00:00|     1177|   23|        0|      California|      California|
|27767|   Massachusetts|     US|           42.2302| -71.5301|2020-03-20 00:00:00|      413|    1|        0|   Massachusetts|   Massachusetts|
|27768|Diamond Princess|     US|           35.4437|  139.638|2020-03-20 00:00:00|       49|    0|        0|Diamond Princess|Diamond Princess|
|27769|  Grand Princess|     US|           37.6489|-122.6655|2020-03-20 00:00:00|       23|    0|        0|  Grand Princess|  Grand Princess|
|27770|         Georgia|     US|           33.0406| -83.6431|2020-03-20 00:00:00|      420|   13|        0|         Georgia|         Georgia|
|27771|        Colorado|     US|           39.0598|-105.3111|2020-03-20 00:00:00|      363|    4|        0|        Colorado|        Colorado|
|27772|         Florida|     US|           27.7663| -81.6868|2020-03-20 00:00:00|      563|   10|        0|         Florida|         Florida|
|27773|      New Jersey|     US|           40.2989|  -74.521|2020-03-20 00:00:00|      890|   11|        0|      New Jersey|      New Jersey|
|27774|          Oregon|     US|44.571999999999996|-122.0709|2020-03-20 00:00:00|      114|    3|        0|          Oregon|          Oregon|
|27775|           Texas|     US|           31.0545| -97.5635|2020-03-20 00:00:00|      394|    5|        0|           Texas|           Texas|
|27776|        Illinois|     US|           40.3495| -88.9861|2020-03-20 00:00:00|      585|    5|        0|        Illinois|        Illinois|
|27777|    Pennsylvania|     US|           40.5908| -77.2098|2020-03-20 00:00:00|      303|    1|        0|    Pennsylvania|    Pennsylvania|
|27778|            Iowa|     US|           42.0115| -93.2105|2020-03-20 00:00:00|       45|    0|        0|            Iowa|            Iowa|
|27779|        Maryland|     US|           39.0639| -76.8021|2020-03-20 00:00:00|      149|    1|        0|        Maryland|        Maryland|
|27780|  North Carolina|     US|           35.6301| -79.8064|2020-03-20 00:00:00|      172|    0|        0|  North Carolina|  North Carolina|
|27781|  South Carolina|     US|           33.8569|  -80.945|2020-03-20 00:00:00|      126|    1|        0|  South Carolina|  South Carolina|
|27782|       Tennessee|     US|           35.7478| -86.6923|2020-03-20 00:00:00|      233|    0|        0|       Tennessee|       Tennessee|
+-----+----------------+-------+------------------+---------+-------------------+---------+-----+---------+----------------+----------------+
only showing top 20 rows

In [70]:
corona_df.filter("Country='US'").sortWithinPartitions([col("Date"), col("Confirmed")], ascending = False).show()

+-----+--------------+-------+-------+---------+-------------------+---------+-----+---------+--------------+--------------+
|  _c0|         State|Country|    Lat|     Long|               Date|Confirmed|Death|Recovered| state_cleaned|          City|
+-----+--------------+-------+-------+---------+-------------------+---------+-----+---------+--------------+--------------+
|27765|      New York|     US|42.1657| -74.9481|2020-03-20 00:00:00|     8310|   42|        0|      New York|      New York|
|27764|    Washington|     US|47.4009|-121.4905|2020-03-20 00:00:00|     1524|   83|        0|    Washington|    Washington|
|27766|    California|     US|36.1162|-119.6816|2020-03-20 00:00:00|     1177|   23|        0|    California|    California|
|27773|    New Jersey|     US|40.2989|  -74.521|2020-03-20 00:00:00|      890|   11|        0|    New Jersey|    New Jersey|
|27776|      Illinois|     US|40.3495| -88.9861|2020-03-20 00:00:00|      585|    5|        0|      Illinois|      Illinois|
|27772|       Florida|     US|27.7663| -81.6868|2020-03-20 00:00:00|      563|   10|        0|       Florida|       Florida|
|27812|      Michigan|     US|43.3266| -84.5361|2020-03-20 00:00:00|      552|    3|        0|      Michigan|      Michigan|
|27804|     Louisiana|     US|31.1695| -91.8678|2020-03-20 00:00:00|      538|   14|        0|     Louisiana|     Louisiana|
|27770|       Georgia|     US|33.0406| -83.6431|2020-03-20 00:00:00|      420|   13|        0|       Georgia|       Georgia|
|27767| Massachusetts|     US|42.2302| -71.5301|2020-03-20 00:00:00|      413|    1|        0| Massachusetts| Massachusetts|
|27775|         Texas|     US|31.0545| -97.5635|2020-03-20 00:00:00|      394|    5|        0|         Texas|         Texas|
|27771|      Colorado|     US|39.0598|-105.3111|2020-03-20 00:00:00|      363|    4|        0|      Colorado|      Colorado|
|27777|  Pennsylvania|     US|40.5908| -77.2098|2020-03-20 00:00:00|      303|    1|        0|  Pennsylvania|  Pennsylvania|
|27782|     Tennessee|     US|35.7478| -86.6923|2020-03-20 00:00:00|      233|    0|        0|     Tennessee|     Tennessee|
|27794|     Wisconsin|     US|44.2685| -89.6165|2020-03-20 00:00:00|      207|    3|        0|     Wisconsin|     Wisconsin|
|27795|   Connecticut|     US|41.5978| -72.7554|2020-03-20 00:00:00|      194|    3|        0|   Connecticut|   Connecticut|
|27792|          Ohio|     US|40.3888| -82.7649|2020-03-20 00:00:00|      173|    2|        0|          Ohio|          Ohio|
|27780|North Carolina|     US|35.6301| -79.8064|2020-03-20 00:00:00|      172|    0|        0|North Carolina|North Carolina|
|27779|      Maryland|     US|39.0639| -76.8021|2020-03-20 00:00:00|      149|    1|        0|      Maryland|      Maryland|
|27781|South Carolina|     US|33.8569|  -80.945|2020-03-20 00:00:00|      126|    1|        0|South Carolina|South Carolina|
+-----+--------------+-------+-------+---------+-------------------+---------+-----+---------+--------------+--------------+
only showing top 20 rows

In [71]:
corona_df.describe().show()

+-------+-----------------+---------+-----------+------------------+------------------+------------------+------------------+------------------+-------------+-----------+
|summary|              _c0|    State|    Country|               Lat|              Long|         Confirmed|             Death|         Recovered|state_cleaned|       City|
+-------+-----------------+---------+-----------+------------------+------------------+------------------+------------------+------------------+-------------+-----------+
|  count|            28143|    19116|      28143|             28143|             28143|             28143|             28143|             28143|        28143|      14573|
|   mean|          14071.0|     null|       null|30.965553459118834|-34.57031257861667|161.88245744945456| 5.494368048893153| 60.17290267562094|         null|       null|
| stddev|8124.328649186959|     null|       null|19.365472826597646| 80.78375872452575| 2519.847217725942|109.29475709869875|1346.6597829124426|         null|       null|
|    min|                0|Adams, IN|Afghanistan|          -41.4545|         -157.8584|                 0|                 0|                 0|    Abu Dhabi|      Adams|
|    max|            28142| Zhejiang|   Zimbabwe|           71.7069|           178.065|             67800|              4032|             58382|     erd√©szet|Yolo County|
+-------+-----------------+---------+-----------+------------------+------------------+------------------+------------------+------------------+-------------+-----------+

In [72]:
corona_df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Long: double (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Confirmed: integer (nullable = true)
 |-- Death: integer (nullable = true)
 |-- Recovered: integer (nullable = true)
 |-- state_cleaned: string (nullable = true)
 |-- City: string (nullable = true)

In [73]:
corona_df.filter('Confirmed>10000').sort(col('Confirmed')).show()

+-----+------+-------+-------+--------+-------------------+---------+-----+---------+-------------+----+
|  _c0| State|Country|    Lat|    Long|               Date|Confirmed|Death|Recovered|state_cleaned|City|
+-----+------+-------+-------+--------+-------------------+---------+-----+---------+-------------+----+
|24005|  null|   Iran|   32.0|    53.0|2020-03-12 00:00:00|    10075|  429|     2959|       Tehran|null|
|22912|  null|  Italy|   43.0|    12.0|2020-03-10 00:00:00|    10149|  631|      724|         Rome|null|
|27346|France| France|46.2276|  2.2137|2020-03-19 00:00:00|    10871|  243|       12|       France|null|
| 5401| Hubei|  China|30.9756|112.2707|2020-02-02 00:00:00|    11177|  350|      295|        Hubei|null|
|24482|  null|   Iran|   32.0|    53.0|2020-03-13 00:00:00|    11364|  514|     2959|       Tehran|null|
|26253|  null|  Spain|   40.0|    -4.0|2020-03-17 00:00:00|    11748|  533|     1028|       Toledo|null|
|26723|  null|Germany|   51.0|     9.0|2020-03-18 00:00:00|    12327|   28|      105|       Berlin|null|
|23866|  null|  Italy|   43.0|    12.0|2020-03-12 00:00:00|    12462|  827|     1045|         Rome|null|
|23389|  null|  Italy|   43.0|    12.0|2020-03-11 00:00:00|    12462|  827|     1045|         Rome|null|
|27823|France| France|46.2276|  2.2137|2020-03-20 00:00:00|    12612|  450|       12|       France|null|
|24959|  null|   Iran|   32.0|    53.0|2020-03-14 00:00:00|    12729|  611|     2959|       Tehran|null|
| 5878| Hubei|  China|30.9756|112.2707|2020-02-03 00:00:00|    13522|  414|      386|        Hubei|null|
|26730|  null|  Spain|   40.0|    -4.0|2020-03-18 00:00:00|    13910|  623|     1081|       Toledo|null|
|25436|  null|   Iran|   32.0|    53.0|2020-03-15 00:00:00|    13938|  724|     4590|       Tehran|null|
|25913|  null|   Iran|   32.0|    53.0|2020-03-16 00:00:00|    14991|  853|     4590|       Tehran|null|
|27200|  null|Germany|   51.0|     9.0|2020-03-19 00:00:00|    15320|   44|      113|       Berlin|null|
|26390|  null|   Iran|   32.0|    53.0|2020-03-17 00:00:00|    16169|  988|     5389|       Tehran|null|
| 6355| Hubei|  China|30.9756|112.2707|2020-02-04 00:00:00|    16678|  479|      522|        Hubei|null|
|26867|  null|   Iran|   32.0|    53.0|2020-03-18 00:00:00|    17361| 1135|     5389|       Tehran|null|
|24343|  null|  Italy|   43.0|    12.0|2020-03-13 00:00:00|    17660| 1266|     1439|         Rome|null|
+-----+------+-------+-------+--------+-------------------+---------+-----+---------+-------------+----+
only showing top 20 rows

In [78]:
corona_df.filter('Confirmed>10000').approxQuantile('Confirmed',[0.25, 0.5, 0.75, 0.9, 0.95], 0.9)

[10075.0, 10075.0, 10075.0, 10075.0, 67800.0]

In [79]:
corona_df.agg({"Date":"max"}).collect()

[Row(max(Date)=datetime.datetime(2020, 3, 20, 0, 0))]

In [82]:
corona_df.agg({"Date":"max", "confirmed":"max"}).collect() #get max date and max confirmed

[Row(max(confirmed)=67800, max(Date)=datetime.datetime(2020, 3, 20, 0, 0))]

In [84]:
max_date = corona_df.agg({ "Date":"max"})
max_date.show()

+-------------------+
|          max(Date)|
+-------------------+
|2020-03-20 00:00:00|
+-------------------+

In [87]:
import pyspark.sql.functions as F
corona_df.groupBy("Country", "State_cleaned").agg(F.max("Date")).show()

+--------------+--------------------+-------------------+
|       Country|       State_cleaned|          max(Date)|
+--------------+--------------------+-------------------+
|      Cameroon|             Yaounde|2020-03-20 00:00:00|
|        Cyprus|             Nicosia|2020-03-20 00:00:00|
|            US|            Michigan|2020-03-20 00:00:00|
|         China|             Qinghai|2020-03-20 00:00:00|
|      Portugal|              Lisbon|2020-03-20 00:00:00|
|            US|            Colorado|2020-03-20 00:00:00|
|United Kingdom|      Cayman Islands|2020-03-20 00:00:00|
|            US|            Missouri|2020-03-20 00:00:00|
|         China|              Hainan|2020-03-20 00:00:00|
|     Australia|Australian Capita...|2020-03-20 00:00:00|
|            US|                Guam|2020-03-20 00:00:00|
|        France|             Reunion|2020-03-20 00:00:00|
|      Colombia|        Cundinamarca|2020-03-20 00:00:00|
|          Cuba|              Havana|2020-03-20 00:00:00|
|     Mauritius|          Port Louis|2020-03-20 00:00:00|
|       Ukraine|                Kiev|2020-03-20 00:00:00|
|   Switzerland|                Bern|2020-03-20 00:00:00|
|         Benin|          Porto-Novo|2020-03-20 00:00:00|
|         Malta|               Mgarr|2020-03-20 00:00:00|
|United Kingdom|         Isle of Man|2020-03-20 00:00:00|
+--------------+--------------------+-------------------+
only showing top 20 rows

In [89]:
corona_df.join(corona_df.groupBy("Country", "State_cleaned").agg(F.max("Date").alias("Date")), on=['Country', 'State_cleaned', 'Date'], how='inner').show()

+--------------------+--------------------+-------------------+-----+----------------+--------+---------+---------+-----+---------+----+
|             Country|       state_cleaned|               Date|  _c0|           State|     Lat|     Long|Confirmed|Death|Recovered|City|
+--------------------+--------------------+-------------------+-----+----------------+--------+---------+---------+-----+---------+----+
|            Thailand|             Bangkok|2020-03-20 00:00:00|27666|            null|    15.0|    101.0|      322|    1|       42|null|
|               Japan|             Hiraide|2020-03-20 00:00:00|27667|            null|    36.0|    138.0|      963|   33|      191|null|
|           Singapore|           Singapore|2020-03-20 00:00:00|27668|            null|  1.2833| 103.8333|      385|    0|      124|null|
|               Nepal|           Kathmandu|2020-03-20 00:00:00|27669|            null| 28.1667|    84.25|        1|    0|        1|null|
|            Malaysia|             Sarawak|2020-03-20 00:00:00|27670|            null|     2.5|    112.5|     1030|    3|       87|null|
|              Canada|    British Columbia|2020-03-20 00:00:00|27671|British Columbia| 49.2827|-123.1207|      271|    8|        4|null|
|           Australia|     New South Wales|2020-03-20 00:00:00|27672| New South Wales|-33.8688| 151.2093|      353|    6|        4|null|
|           Australia|            Victoria|2020-03-20 00:00:00|27673|        Victoria|-37.8136| 144.9631|      121|    0|        8|null|
|           Australia|          Queensland|2020-03-20 00:00:00|27674|      Queensland|-28.0167|    153.4|      184|    0|        8|null|
|            Cambodia|          Phnom Penh|2020-03-20 00:00:00|27675|            null|   11.55| 104.9167|       51|    0|        1|null|
|           Sri Lanka|Sri Jayawardenapu...|2020-03-20 00:00:00|27676|            null|     7.0|     81.0|       73|    0|        3|null|
|             Germany|              Berlin|2020-03-20 00:00:00|27677|            null|    51.0|      9.0|    19848|   67|      180|null|
|             Finland|            Helsinki|2020-03-20 00:00:00|27678|            null|    64.0|     26.0|      450|    0|       10|null|
|United Arab Emirates|           Abu Dhabi|2020-03-20 00:00:00|27679|            null|    24.0|     54.0|      140|    2|       31|null|
|         Philippines|              Manila|2020-03-20 00:00:00|27680|            null|    13.0|    122.0|      230|   18|        8|null|
|               India|           New Delhi|2020-03-20 00:00:00|27681|            null|    21.0|     78.0|      244|    5|       20|null|
|               Italy|                Rome|2020-03-20 00:00:00|27682|            null|    43.0|     12.0|    47021| 4032|     4440|null|
|              Sweden|           Stockholm|2020-03-20 00:00:00|27683|            null|    63.0|     16.0|     1639|   16|       16|null|
|               Spain|              Toledo|2020-03-20 00:00:00|27684|            null|    40.0|     -4.0|    20410| 1043|     1588|null|
|           Australia|     South Australia|2020-03-20 00:00:00|27685| South Australia|-34.9285| 138.6007|       50|    0|        3|null|
+--------------------+--------------------+-------------------+-----+----------------+--------+---------+---------+-----+---------+----+
only showing top 20 rows

In [91]:
corona_df.join(corona_df.groupBy("Country", "State_cleaned").agg(F.max("Date").alias("Date")), on=['Country', 'State_cleaned', 'Date'], how='inner').sort("Confirmed", ascending=False).show()

+--------------+----------------+-------------------+-----+--------------+-------+-------------------+---------+-----+---------+----------+
|       Country|   state_cleaned|               Date|  _c0|         State|    Lat|               Long|Confirmed|Death|Recovered|      City|
+--------------+----------------+-------------------+-----+--------------+-------+-------------------+---------+-----+---------+----------+
|         China|           Hubei|2020-03-20 00:00:00|27820|         Hubei|30.9756|           112.2707|    67800| 3133|    58382|      null|
|         Italy|            Rome|2020-03-20 00:00:00|27682|          null|   43.0|               12.0|    47021| 4032|     4440|      null|
|         Spain|          Toledo|2020-03-20 00:00:00|27684|          null|   40.0|               -4.0|    20410| 1043|     1588|      null|
|       Germany|          Berlin|2020-03-20 00:00:00|27677|          null|   51.0|                9.0|    19848|   67|      180|      null|
|          Iran|          Tehran|2020-03-20 00:00:00|27821|          null|   32.0|               53.0|    19644| 1433|     6745|      null|
|        France|          France|2020-03-20 00:00:00|27823|        France|46.2276|             2.2137|    12612|  450|       12|      null|
|  Korea, South|Gyeongsangbuk-do|2020-03-20 00:00:00|27822|          null|   36.0|              128.0|     8652|   94|     1540|      null|
|            US|        New York|2020-03-20 00:00:00|27765|      New York|42.1657|           -74.9481|     8310|   42|        0|  New York|
|   Switzerland|            Bern|2020-03-20 00:00:00|27697|          null|46.8182|             8.2275|     5294|   54|       15|      null|
|United Kingdom|  United Kingdom|2020-03-20 00:00:00|28069|United Kingdom|55.3781|-3.4360000000000004|     3983|  177|       65|      null|
|   Netherlands|     Netherlands|2020-03-20 00:00:00|28106|   Netherlands|52.1326|             5.2913|     2994|  106|        2|      null|
|       Austria|          Vienna|2020-03-20 00:00:00|27698|          null|47.5162|            14.5501|     2388|    6|        9|      null|
|       Belgium|        Brussels|2020-03-20 00:00:00|27686|          null|50.8333|                4.0|     2257|   37|        1|      null|
|        Norway|             Hol|2020-03-20 00:00:00|27705|          null| 60.472|             8.4689|     1914|    7|        1|      null|
|        Sweden|       Stockholm|2020-03-20 00:00:00|27683|          null|   63.0|               16.0|     1639|   16|       16|      null|
|            US|      Washington|2020-03-20 00:00:00|27764|    Washington|47.4009|          -121.4905|     1524|   83|        0|Washington|
|         China|       Guangdong|2020-03-20 00:00:00|27824|     Guangdong|23.3417|           113.4244|     1395|    8|     1323|      null|
|         China|           Henan|2020-03-20 00:00:00|27825|         Henan| 33.882| 113.61399999999999|     1273|   22|     1250|      null|
|       Denmark|         Denmark|2020-03-20 00:00:00|27836|       Denmark|56.2639|             9.5018|     1255|    9|        1|      null|
|         China|        Zhejiang|2020-03-20 00:00:00|27826|      Zhejiang|29.1832|           120.0934|     1234|    1|     1219|      null|
+--------------+----------------+-------------------+-----+--------------+-------+-------------------+---------+-----+---------+----------+
only showing top 20 rows

In [93]:
from pyspark.sql.functions import row_number
from pyspark.sql.window import Window

ws = Window().partitionBy("Country", "State_cleaned").orderBy(col("Date").desc())
corona_df.withColumn("row_num", row_number().over(ws)).show()

+-----+-----+--------+------------------+-------+-------------------+---------+-----+---------+-------------+----+-------+
|  _c0|State| Country|               Lat|   Long|               Date|Confirmed|Death|Recovered|state_cleaned|City|row_num|
+-----+-----+--------+------------------+-------+-------------------+---------+-----+---------+-------------+----+-------+
|27745| null|Cameroon|3.8480000000000003|11.5021|2020-03-20 00:00:00|       20|    0|        0|      Yaounde|null|      1|
|27268| null|Cameroon|3.8480000000000003|11.5021|2020-03-19 00:00:00|       13|    0|        0|      Yaounde|null|      2|
|26791| null|Cameroon|3.8480000000000003|11.5021|2020-03-18 00:00:00|       10|    0|        0|      Yaounde|null|      3|
|26314| null|Cameroon|3.8480000000000003|11.5021|2020-03-17 00:00:00|       10|    0|        0|      Yaounde|null|      4|
|25837| null|Cameroon|3.8480000000000003|11.5021|2020-03-16 00:00:00|        4|    0|        0|      Yaounde|null|      5|
|25360| null|Cameroon|3.8480000000000003|11.5021|2020-03-15 00:00:00|        2|    0|        0|      Yaounde|null|      6|
|24883| null|Cameroon|3.8480000000000003|11.5021|2020-03-14 00:00:00|        2|    0|        0|      Yaounde|null|      7|
|24406| null|Cameroon|3.8480000000000003|11.5021|2020-03-13 00:00:00|        2|    0|        0|      Yaounde|null|      8|
|23929| null|Cameroon|3.8480000000000003|11.5021|2020-03-12 00:00:00|        2|    0|        0|      Yaounde|null|      9|
|23452| null|Cameroon|3.8480000000000003|11.5021|2020-03-11 00:00:00|        2|    0|        0|      Yaounde|null|     10|
|22975| null|Cameroon|3.8480000000000003|11.5021|2020-03-10 00:00:00|        2|    0|        0|      Yaounde|null|     11|
|22498| null|Cameroon|3.8480000000000003|11.5021|2020-03-09 00:00:00|        2|    0|        0|      Yaounde|null|     12|
|22021| null|Cameroon|3.8480000000000003|11.5021|2020-03-08 00:00:00|        2|    0|        0|      Yaounde|null|     13|
|21544| null|Cameroon|3.8480000000000003|11.5021|2020-03-07 00:00:00|        1|    0|        0|      Yaounde|null|     14|
|21067| null|Cameroon|3.8480000000000003|11.5021|2020-03-06 00:00:00|        1|    0|        0|      Yaounde|null|     15|
|20590| null|Cameroon|3.8480000000000003|11.5021|2020-03-05 00:00:00|        0|    0|        0|      Yaounde|null|     16|
|20113| null|Cameroon|3.8480000000000003|11.5021|2020-03-04 00:00:00|        0|    0|        0|      Yaounde|null|     17|
|19636| null|Cameroon|3.8480000000000003|11.5021|2020-03-03 00:00:00|        0|    0|        0|      Yaounde|null|     18|
|19159| null|Cameroon|3.8480000000000003|11.5021|2020-03-02 00:00:00|        0|    0|        0|      Yaounde|null|     19|
|18682| null|Cameroon|3.8480000000000003|11.5021|2020-03-01 00:00:00|        0|    0|        0|      Yaounde|null|     20|
+-----+-----+--------+------------------+-------+-------------------+---------+-----+---------+-------------+----+-------+
only showing top 20 rows

In [94]:
corona_df.withColumn("row_num", row_number().over(ws)).where(col("row_num")==1).show()

+-----+--------------------+--------------+------------------+---------+-------------------+---------+-----+---------+--------------------+--------+-------+
|  _c0|               State|       Country|               Lat|     Long|               Date|Confirmed|Death|Recovered|       state_cleaned|    City|row_num|
+-----+--------------------+--------------+------------------+---------+-------------------+---------+-----+---------+--------------------+--------+-------+
|27745|                null|      Cameroon|3.8480000000000003|  11.5021|2020-03-20 00:00:00|       20|    0|        0|             Yaounde|    null|      1|
|27859|             Qinghai|         China|           35.7452|  95.9956|2020-03-20 00:00:00|       18|    0|       18|             Qinghai|    null|      1|
|27762|                null|        Cyprus|           35.1264|  33.4299|2020-03-20 00:00:00|       67|    0|        0|             Nicosia|    null|      1|
|27812|            Michigan|            US|           43.3266| -84.5361|2020-03-20 00:00:00|      552|    3|        0|            Michigan|Michigan|      1|
|27725|                null|      Portugal|           39.3999|  -8.2245|2020-03-20 00:00:00|     1020|    6|        5|              Lisbon|    null|      1|
|27771|            Colorado|            US|           39.0598|-105.3111|2020-03-20 00:00:00|      363|    4|        0|            Colorado|Colorado|      1|
|28115|      Cayman Islands|United Kingdom|           19.3133| -81.2546|2020-03-20 00:00:00|        3|    1|        0|      Cayman Islands|    null|      1|
|27844|              Hainan|         China|           19.1959| 109.7453|2020-03-20 00:00:00|      168|    6|      161|              Hainan|    null|      1|
|27805|            Missouri|            US|           38.4561| -92.2884|2020-03-20 00:00:00|       53|    2|        0|            Missouri|Missouri|      1|
|28068|Australian Capita...|     Australia|          -35.4735| 149.0124|2020-03-20 00:00:00|        6|    0|        0|Australian Capita...|    null|      1|
|28097|                Guam|            US|           13.4443| 144.7937|2020-03-20 00:00:00|       14|    0|        0|                Guam|    Guam|      1|
|28116|             Reunion|        France|          -21.1351|  55.2471|2020-03-20 00:00:00|       28|    0|        0|             Reunion|    null|      1|
|27746|                null|      Colombia|            4.5709| -74.2973|2020-03-20 00:00:00|      128|    0|        1|        Cundinamarca|    null|      1|
|28066|                null|          Cuba|              22.0|    -80.0|2020-03-20 00:00:00|       16|    1|        0|              Havana|    null|      1|
|28120|                null|     Mauritius|             -20.2|     57.5|2020-03-20 00:00:00|       12|    0|        0|          Port Louis|    null|      1|
|27735|                null|       Ukraine|           48.3794|  31.1656|2020-03-20 00:00:00|       29|    3|        0|                Kiev|    null|      1|
|28109|                null|         Benin|            9.3077|   2.3158|2020-03-20 00:00:00|        2|    0|        0|          Porto-Novo|    null|      1|
|27697|                null|   Switzerland|           46.8182|   8.2275|2020-03-20 00:00:00|     5294|   54|       15|                Bern|    null|      1|
|27752|                null|         Malta|           35.9375|  14.3754|2020-03-20 00:00:00|       64|    0|        2|               Mgarr|    null|      1|
|28141|         Isle of Man|United Kingdom|           54.2361|  -4.5481|2020-03-20 00:00:00|        1|    0|        0|         Isle of Man|    null|      1|
+-----+--------------------+--------------+------------------+---------+-------------------+---------+-----+---------+--------------------+--------+-------+
only showing top 20 rows

In [95]:
corona_max_df = corona_df.join(corona_df.groupBy("Country", "State_cleaned").agg(F.max("Date").alias("Date")), on=["Country", "State_cleaned", "Date"], how="inner")

In [96]:
corona_max_df.show()

+--------------------+--------------------+-------------------+-----+----------------+--------+---------+---------+-----+---------+----+
|             Country|       state_cleaned|               Date|  _c0|           State|     Lat|     Long|Confirmed|Death|Recovered|City|
+--------------------+--------------------+-------------------+-----+----------------+--------+---------+---------+-----+---------+----+
|            Thailand|             Bangkok|2020-03-20 00:00:00|27666|            null|    15.0|    101.0|      322|    1|       42|null|
|               Japan|             Hiraide|2020-03-20 00:00:00|27667|            null|    36.0|    138.0|      963|   33|      191|null|
|           Singapore|           Singapore|2020-03-20 00:00:00|27668|            null|  1.2833| 103.8333|      385|    0|      124|null|
|               Nepal|           Kathmandu|2020-03-20 00:00:00|27669|            null| 28.1667|    84.25|        1|    0|        1|null|
|            Malaysia|             Sarawak|2020-03-20 00:00:00|27670|            null|     2.5|    112.5|     1030|    3|       87|null|
|              Canada|    British Columbia|2020-03-20 00:00:00|27671|British Columbia| 49.2827|-123.1207|      271|    8|        4|null|
|           Australia|     New South Wales|2020-03-20 00:00:00|27672| New South Wales|-33.8688| 151.2093|      353|    6|        4|null|
|           Australia|            Victoria|2020-03-20 00:00:00|27673|        Victoria|-37.8136| 144.9631|      121|    0|        8|null|
|           Australia|          Queensland|2020-03-20 00:00:00|27674|      Queensland|-28.0167|    153.4|      184|    0|        8|null|
|            Cambodia|          Phnom Penh|2020-03-20 00:00:00|27675|            null|   11.55| 104.9167|       51|    0|        1|null|
|           Sri Lanka|Sri Jayawardenapu...|2020-03-20 00:00:00|27676|            null|     7.0|     81.0|       73|    0|        3|null|
|             Germany|              Berlin|2020-03-20 00:00:00|27677|            null|    51.0|      9.0|    19848|   67|      180|null|
|             Finland|            Helsinki|2020-03-20 00:00:00|27678|            null|    64.0|     26.0|      450|    0|       10|null|
|United Arab Emirates|           Abu Dhabi|2020-03-20 00:00:00|27679|            null|    24.0|     54.0|      140|    2|       31|null|
|         Philippines|              Manila|2020-03-20 00:00:00|27680|            null|    13.0|    122.0|      230|   18|        8|null|
|               India|           New Delhi|2020-03-20 00:00:00|27681|            null|    21.0|     78.0|      244|    5|       20|null|
|               Italy|                Rome|2020-03-20 00:00:00|27682|            null|    43.0|     12.0|    47021| 4032|     4440|null|
|              Sweden|           Stockholm|2020-03-20 00:00:00|27683|            null|    63.0|     16.0|     1639|   16|       16|null|
|               Spain|              Toledo|2020-03-20 00:00:00|27684|            null|    40.0|     -4.0|    20410| 1043|     1588|null|
|           Australia|     South Australia|2020-03-20 00:00:00|27685| South Australia|-34.9285| 138.6007|       50|    0|        3|null|
+--------------------+--------------------+-------------------+-----+----------------+--------+---------+---------+-----+---------+----+
only showing top 20 rows

In [100]:
corona_df.groupby("Country").pivot("Date").agg(F.sum("Confirmed")).show(15)

+-----------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|    Country|2020-01-22 00:00:00|2020-01-23 00:00:00|2020-01-24 00:00:00|2020-01-25 00:00:00|2020-01-26 00:00:00|2020-01-27 00:00:00|2020-01-28 00:00:00|2020-01-29 00:00:00|2020-01-30 00:00:00|2020-01-31 00:00:00|2020-02-01 00:00:00|2020-02-02 00:00:00|2020-02-03 00:00:00|2020-02-04 00:00:00|2020-02-05 00:00:00|2020-02-06 00:00:00|2020-02-07 00:00:00|2020-02-08 00:00:00|2020-02-09 00:00:00|2020-02-10 00:00:00|2020-02-11 00:00:00|2020-02-12 00:00:00|2020-02-13 00:00:00|2020-02-14 00:00:00|2020-02-15 00:00:00|2020-02-16 00:00:00|2020-02-17 00:00:00|2020-02-18 00:00:00|2020-02-19 00:00:00|2020-02-20 00:00:00|2020-02-21 00:00:00|2020-02-22 00:00:00|2020-02-23 00:00:00|2020-02-24 00:00:00|2020-02-25 00:00:00|2020-02-26 00:00:00|2020-02-27 00:00:00|2020-02-28 00:00:00|2020-02-29 00:00:00|2020-03-01 00:00:00|2020-03-02 00:00:00|2020-03-03 00:00:00|2020-03-04 00:00:00|2020-03-05 00:00:00|2020-03-06 00:00:00|2020-03-07 00:00:00|2020-03-08 00:00:00|2020-03-09 00:00:00|2020-03-10 00:00:00|2020-03-11 00:00:00|2020-03-12 00:00:00|2020-03-13 00:00:00|2020-03-14 00:00:00|2020-03-15 00:00:00|2020-03-16 00:00:00|2020-03-17 00:00:00|2020-03-18 00:00:00|2020-03-19 00:00:00|2020-03-20 00:00:00|
+-----------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|       Chad|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  1|                  1|
|     Russia|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  2|                  3|                  3|                  3|                  4|                 13|                 13|                 17|                 17|                 20|                 20|                 28|                 45|                 59|                 63|                 90|                114|                147|                199|                253|
|   Paraguay|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  1|                  1|                  1|                  5|                  5|                  6|                  6|                  6|                  8|                  9|                 11|                 11|                 13|
|    Senegal|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  1|                  2|                  4|                  4|                  4|                  4|                  4|                  4|                  4|                  4|                  4|                 10|                 10|                 24|                 24|                 26|                 31|                 31|                 38|
|     Sweden|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  1|                  2|                  7|                  7|                 12|                 14|                 15|                 21|                 35|                 94|                101|                161|                203|                248|                355|                500|                599|                814|                961|               1022|               1103|               1190|               1279|               1439|               1639|
| Cabo Verde|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  1|
|     Guyana|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  1|                  1|                  1|                  4|                  4|                  7|                  7|                  7|                  7|
|Philippines|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  1|                  1|                  1|                  2|                  2|                  2|                  2|                  2|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  3|                  5|                  6|                 10|                 20|                 33|                 49|                 52|                 64|                111|                140|                142|                187|                202|                217|                230|
|   Djibouti|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  1|                  1|                  1|
|   Malaysia|                  0|                  0|                  0|                  3|                  4|                  4|                  4|                  7|                  8|                  8|                  8|                  8|                  8|                 10|                 12|                 12|                 12|                 16|                 16|                 18|                 18|                 18|                 19|                 19|                 22|                 22|                 22|                 22|                 22|                 22|                 22|                 22|                 22|                 22|                 22|                 22|                 23|                 23|                 25|                 29|                 29|                 36|                 50|                 50|                 83|                 93|                 99|                117|                129|                149|                149|                197|                238|                428|                566|                673|                790|                900|               1030|
|  Singapore|                  0|                  1|                  3|                  3|                  4|                  5|                  7|                  7|                 10|                 13|                 16|                 18|                 18|                 24|                 28|                 28|                 30|                 33|                 40|                 45|                 47|                 50|                 58|                 67|                 72|                 75|                 77|                 81|                 84|                 84|                 85|                 85|                 89|                 89|                 91|                 93|                 93|                 93|                102|                106|                108|                110|                110|                117|                130|                138|                150|                150|                160|                178|                178|                200|                212|                226|                243|                266|                313|                345|                385|
|       Fiji|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  1|                  1|
|     Turkey|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  0|                  1|                  1|                  5|                  5|                  6|                 18|                 47|                 98|                192|                359|

In [101]:
corona_df.filter("Country=='US'").crosstab("State", "Date").show()

+-------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+
|         State_Date|2020-01-22 00:00:00.0|2020-01-23 00:00:00.0|2020-01-24 00:00:00.0|2020-01-25 00:00:00.0|2020-01-26 00:00:00.0|2020-01-27 00:00:00.0|2020-01-28 00:00:00.0|2020-01-29 00:00:00.0|2020-01-30 00:00:00.0|2020-01-31 00:00:00.0|2020-02-01 00:00:00.0|2020-02-02 00:00:00.0|2020-02-03 00:00:00.0|2020-02-04 00:00:00.0|2020-02-05 00:00:00.0|2020-02-06 00:00:00.0|2020-02-07 00:00:00.0|2020-02-08 00:00:00.0|2020-02-09 00:00:00.0|2020-02-10 00:00:00.0|2020-02-11 00:00:00.0|2020-02-12 00:00:00.0|2020-02-13 00:00:00.0|2020-02-14 00:00:00.0|2020-02-15 00:00:00.0|2020-02-16 00:00:00.0|2020-02-17 00:00:00.0|2020-02-18 00:00:00.0|2020-02-19 00:00:00.0|2020-02-20 00:00:00.0|2020-02-21 00:00:00.0|2020-02-22 00:00:00.0|2020-02-23 00:00:00.0|2020-02-24 00:00:00.0|2020-02-25 00:00:00.0|2020-02-26 00:00:00.0|2020-02-27 00:00:00.0|2020-02-28 00:00:00.0|2020-02-29 00:00:00.0|2020-03-01 00:00:00.0|2020-03-02 00:00:00.0|2020-03-03 00:00:00.0|2020-03-04 00:00:00.0|2020-03-05 00:00:00.0|2020-03-06 00:00:00.0|2020-03-07 00:00:00.0|2020-03-08 00:00:00.0|2020-03-09 00:00:00.0|2020-03-10 00:00:00.0|2020-03-11 00:00:00.0|2020-03-12 00:00:00.0|2020-03-13 00:00:00.0|2020-03-14 00:00:00.0|2020-03-15 00:00:00.0|2020-03-16 00:00:00.0|2020-03-17 00:00:00.0|2020-03-18 00:00:00.0|2020-03-19 00:00:00.0|2020-03-20 00:00:00.0|
+-------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+
|         New Mexico|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|
|   Clark County, NV|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|
|         Summit, UT|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|
|     Montgomery, TX|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|
|           Dane, WI|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|
|Prince George's, MD|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|
|Maricopa County, AZ|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|
|  Harris County, TX|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|
|     New Castle, DE|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|
|      Deschutes, OR|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|
|        Connecticut|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|
|          Gregg, TX|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|                    1|

In [102]:
corona_max_df.groupby("Country").agg({"Confirmed":"sum"}).show()

+-----------+--------------+
|    Country|sum(Confirmed)|
+-----------+--------------+
|       Chad|             1|
|   Paraguay|            13|
|     Russia|           253|
|    Senegal|            38|
|     Sweden|          1639|
| Cabo Verde|             1|
|     Guyana|             7|
|Philippines|           230|
|   Djibouti|             1|
|  Singapore|           385|
|   Malaysia|          1030|
|       Fiji|             1|
|     Turkey|           359|
|       Iraq|           208|
|    Germany|         19848|
|   Cambodia|            51|
|Afghanistan|            24|
|     Jordan|            85|
|   Maldives|            13|
|     Rwanda|            17|
+-----------+--------------+
only showing top 20 rows

In [103]:
corona_max_df.groupby("Country").agg({"Confirmed":"sum", "Recovered":"sum","Death":"sum"}).orderBy("sum(Confirmed)", ascending=False).show()

+--------------+--------------+----------+--------------+
|       Country|sum(Recovered)|sum(Death)|sum(Confirmed)|
+--------------+--------------+----------+--------------+
|         China|         71266|      3253|         81250|
|         Italy|          4440|      4032|         47021|
|         Spain|          1588|      1043|         20410|
|       Germany|           180|        67|         19848|
|          Iran|          6745|      1433|         19644|
|            US|             0|       244|         19100|
|        France|            12|       450|         12726|
|  Korea, South|          1540|        94|          8652|
|   Switzerland|            15|        54|          5294|
|United Kingdom|            67|       178|          4014|
|   Netherlands|             2|       107|          3003|
|       Austria|             9|         6|          2388|
|       Belgium|             1|        37|          2257|
|        Norway|             1|         7|          1914|
|        Sweden|            16|        16|          1639|
|       Denmark|             1|         9|          1337|
|      Malaysia|            87|         3|          1030|
|      Portugal|             5|         6|          1020|
|         Japan|           191|        33|           963|
|        Canada|             9|        12|           943|
+--------------+--------------+----------+--------------+
only showing top 20 rows

In [104]:
corona_max_df.withColumn("Active", corona_max_df.Confirmed - corona_max_df.Recovered - corona_max_df.Death).sort("Active", ascending = False).show()

+--------------+----------------+-------------------+-----+--------------+-------+-------------------+---------+-----+---------+----------+------+
|       Country|   state_cleaned|               Date|  _c0|         State|    Lat|               Long|Confirmed|Death|Recovered|      City|Active|
+--------------+----------------+-------------------+-----+--------------+-------+-------------------+---------+-----+---------+----------+------+
|         Italy|            Rome|2020-03-20 00:00:00|27682|          null|   43.0|               12.0|    47021| 4032|     4440|      null| 38549|
|       Germany|          Berlin|2020-03-20 00:00:00|27677|          null|   51.0|                9.0|    19848|   67|      180|      null| 19601|
|         Spain|          Toledo|2020-03-20 00:00:00|27684|          null|   40.0|               -4.0|    20410| 1043|     1588|      null| 17779|
|        France|          France|2020-03-20 00:00:00|27823|        France|46.2276|             2.2137|    12612|  450|       12|      null| 12150|
|          Iran|          Tehran|2020-03-20 00:00:00|27821|          null|   32.0|               53.0|    19644| 1433|     6745|      null| 11466|
|            US|        New York|2020-03-20 00:00:00|27765|      New York|42.1657|           -74.9481|     8310|   42|        0|  New York|  8268|
|  Korea, South|Gyeongsangbuk-do|2020-03-20 00:00:00|27822|          null|   36.0|              128.0|     8652|   94|     1540|      null|  7018|
|         China|           Hubei|2020-03-20 00:00:00|27820|         Hubei|30.9756|           112.2707|    67800| 3133|    58382|      null|  6285|
|   Switzerland|            Bern|2020-03-20 00:00:00|27697|          null|46.8182|             8.2275|     5294|   54|       15|      null|  5225|
|United Kingdom|  United Kingdom|2020-03-20 00:00:00|28069|United Kingdom|55.3781|-3.4360000000000004|     3983|  177|       65|      null|  3741|
|   Netherlands|     Netherlands|2020-03-20 00:00:00|28106|   Netherlands|52.1326|             5.2913|     2994|  106|        2|      null|  2886|
|       Austria|          Vienna|2020-03-20 00:00:00|27698|          null|47.5162|            14.5501|     2388|    6|        9|      null|  2373|
|       Belgium|        Brussels|2020-03-20 00:00:00|27686|          null|50.8333|                4.0|     2257|   37|        1|      null|  2219|
|        Norway|             Hol|2020-03-20 00:00:00|27705|          null| 60.472|             8.4689|     1914|    7|        1|      null|  1906|
|        Sweden|       Stockholm|2020-03-20 00:00:00|27683|          null|   63.0|               16.0|     1639|   16|       16|      null|  1607|
|            US|      Washington|2020-03-20 00:00:00|27764|    Washington|47.4009|          -121.4905|     1524|   83|        0|Washington|  1441|
|       Denmark|         Denmark|2020-03-20 00:00:00|27836|       Denmark|56.2639|             9.5018|     1255|    9|        1|      null|  1245|
|            US|      California|2020-03-20 00:00:00|27766|    California|36.1162|          -119.6816|     1177|   23|        0|California|  1154|
|      Portugal|          Lisbon|2020-03-20 00:00:00|27725|          null|39.3999|            -8.2245|     1020|    6|        5|      null|  1009|
|      Malaysia|         Sarawak|2020-03-20 00:00:00|27670|          null|    2.5|              112.5|     1030|    3|       87|      null|   940|
+--------------+----------------+-------------------+-----+--------------+-------+-------------------+---------+-----+---------+----------+------+
only showing top 20 rows

In [105]:
corona_max_df = corona_max_df.withColumn("Active", corona_max_df.Confirmed - corona_max_df.Recovered - corona_max_df.Death)

In [106]:
corona_max_df.show(10)

+---------+----------------+-------------------+-----+----------------+--------+---------+---------+-----+---------+----+------+
|  Country|   state_cleaned|               Date|  _c0|           State|     Lat|     Long|Confirmed|Death|Recovered|City|Active|
+---------+----------------+-------------------+-----+----------------+--------+---------+---------+-----+---------+----+------+
| Thailand|         Bangkok|2020-03-20 00:00:00|27666|            null|    15.0|    101.0|      322|    1|       42|null|   279|
|    Japan|         Hiraide|2020-03-20 00:00:00|27667|            null|    36.0|    138.0|      963|   33|      191|null|   739|
|Singapore|       Singapore|2020-03-20 00:00:00|27668|            null|  1.2833| 103.8333|      385|    0|      124|null|   261|
|    Nepal|       Kathmandu|2020-03-20 00:00:00|27669|            null| 28.1667|    84.25|        1|    0|        1|null|     0|
| Malaysia|         Sarawak|2020-03-20 00:00:00|27670|            null|     2.5|    112.5|     1030|    3|       87|null|   940|
|   Canada|British Columbia|2020-03-20 00:00:00|27671|British Columbia| 49.2827|-123.1207|      271|    8|        4|null|   259|
|Australia| New South Wales|2020-03-20 00:00:00|27672| New South Wales|-33.8688| 151.2093|      353|    6|        4|null|   343|
|Australia|        Victoria|2020-03-20 00:00:00|27673|        Victoria|-37.8136| 144.9631|      121|    0|        8|null|   113|
|Australia|      Queensland|2020-03-20 00:00:00|27674|      Queensland|-28.0167|    153.4|      184|    0|        8|null|   176|
| Cambodia|      Phnom Penh|2020-03-20 00:00:00|27675|            null|   11.55| 104.9167|       51|    0|        1|null|    50|
+---------+----------------+-------------------+-----+----------------+--------+---------+---------+-----+---------+----+------+
only showing top 10 rows

In [108]:
corona_max_df.groupBy("Country").sum("Active").orderBy("sum(Active)",ascending = False).show()

+--------------+-----------+
|       Country|sum(Active)|
+--------------+-----------+
|         Italy|      38549|
|       Germany|      19601|
|            US|      18856|
|         Spain|      17779|
|        France|      12264|
|          Iran|      11466|
|  Korea, South|       7018|
|         China|       6731|
|   Switzerland|       5225|
|United Kingdom|       3769|
|   Netherlands|       2894|
|       Austria|       2373|
|       Belgium|       2219|
|        Norway|       1906|
|        Sweden|       1607|
|       Denmark|       1327|
|      Portugal|       1009|
|      Malaysia|        940|
|        Canada|        922|
|       Czechia|        829|
+--------------+-----------+
only showing top 20 rows